<launch>

	<!-- Arguments -->
	<arg name="bagfile" default="/home/libing/rosbag/stereo_data/kitti_03.bag"/> <!-- Find it on http://srv.uib.es/public/viso2_ros/sample_bagfiles/  -->
  <arg name="camera" default="/kitti_stereo"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Play the bagfile -->
  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile)" />

  <!-- Run the stereo image proc -->
  <node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer">
    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="$(arg camera)"/>
  </node>

    <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="log"
    args="-d $(find viso2_ros)/rviz/viso2_stereo.rviz">
  </node>

</launch>