<launch>
    <!-- Arguments -->
    <arg name="output" default="screen"/>
    <arg name="bagfile" default="/home/chao/Workspace/bag/mrsl_vicon.bag"/>
    <arg name="camera" default="stereo"/>
    <arg name="disparity_params" default="disparity_params.yaml"/>

    <param name="/use_sim_time" value="true"/>

    <!-- rosbag -->
    <node pkg="rosbag" type="play" name="player" args="--clock $(arg bagfile)"
        output="log">
    </node>

    <!-- Run the ROS package stereo_image_proc -->
    <node pkg="stereo_image_proc" type="stereo_image_proc"
        name="stereo_image_proc" ns="$(arg camera)">
        <!-- <rosparam file="$(arg disparity_params)"/> -->
    </node>

    <!-- Run the viso2_ros package -->
    <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer"
        output="screen" ns="$(arg camera)">
    </node>
</launch>
